body{
	background-color: #dcc2a2;
	font-size:14px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: "bariol_regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:auto;
	margin-right:auto;
	width:640px;
	background-color: white;
	padding: 50px;
}
.ob-helg{
	display:none;
}
label.obhelg-checkbox {
	background: white;
	border: black; 
	padding-top: 3px;
	border-radius: 5px;
}

label.obhelg-checkbox.active {
	background: #e6646a;
	border: black; 
}
.cell-input{
	background-color:#e48b6f;
	color:white;
	
	font-size:15px;
}
.cell-input-light{
	background-color:#e6646a;
	color:white;
	
	font-size:15px;
}

.cell-sum{
	background-color:#dcc2a2;
	border:1px solid #000000;
	color:#000000;
	font-weight:bold;
	font-size:14px;
}
.cell-ouput{
	font-size:14px;
}

.form-main{
	width:100%;
}
.form-left{
	padding:5px;

	
}
.form-right{
	text-align:center;
	padding:5px 5px 5px 5px;
	width:340px;

}

input[type=text],textarea{
	text-align:center;
	width:95%;
	background-color: white;
	border: 1px solid #a9b2b1;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
}

h1{
	font-size:18px;
	padding-top:1em;
}

.italic{
	font-style:italic;
}
table
{
	border-collapse:collapse;
}


.explain-content{
	position:absolute;
	background-color:#FFFFFF;
	color:#000000;
	z-align:55;
	width:200px;
	margin-top:-3px;
	margin-left:15px;
	padding:5px;
	display:inline;
	border: 1px solid #000000;
	-moz-box-shadow:    1px 1px 2px 2px #000000;
  	-webkit-box-shadow: 1px 1px 2px 2px #000000;
  	box-shadow:         1px 1px 2px 2px #000000;
})
